In [1]:
import pandas as pd
import pathlib

In [14]:
fp = pathlib.Path("../src/data/test.txt")
columns = [
                "symbol_code",
                "price_date",
                "open_price",
                "high_price",
                "low_price",
                "close_price",
                "adjusted_close_price",
                "volume",
                "unadjusted_volume",
                "price_change",
                "price_change_percentage",
                "vwap",
                "price_date_label",
                "change_over_time",
            ]
df = pd.read_csv(fp, delimiter="|", names=columns)

In [15]:
df.head()

,symbol_code,price_date,open_price,high_price,low_price,close_price,adjusted_close_price,volume,unadjusted_volume,price_change,price_change_percentage,vwap,price_date_label,change_over_time
0,CIZN,2000-01-03,13.50,13.50,13.38,13.38,6.08,1500.0,1500.0,0.12,0.889,13.42,"January 03, 00",0.00889
1,CIZN,2000-01-04,13.67,13.67,13.67,13.67,6.21,300.0,300.0,0.00,0.000,13.67,"January 04, 00",0.00000
2,CIZN,2000-01-05,13.67,13.67,13.67,13.67,6.21,0.0,0.0,0.00,0.000,0.00,"January 05, 00",0.00000
3,CIZN,2000-01-06,13.67,13.67,13.67,13.67,6.21,0.0,0.0,0.00,0.000,0.00,"January 06, 00",0.00000
4,CIZN,2000-01-07,13.67,13.67,13.67,13.67,6.21,0.0,0.0,0.00,0.000,0.00,"January 07, 00",0.00000

In [19]:
df[df["adjusted_close_price"].isnull()]["adjusted_close_price"]

38576      NaN
38577      NaN
38578      NaN
38579      NaN
38580      NaN
            ..
29548068   NaN
29548069   NaN
29548070   NaN
29548071   NaN
29548072   NaN
Name: adjusted_close_price, Length: 1223790, dtype: float64